
body{
    margin: 0px;
    z-index: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*header*/
button#newBook{
    width: 100px;
    margin-left: auto;
}

.contentHeader{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #000268;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
span.headerText{
    color:#0004ff;
    font-family: monospace;
    font-size: 1.3em;
}

/*mainbody*/
.contentBody{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: flex-start;
}

/*bookdisplay mainbody*/
.bookDisplay{
    width:fit-content;
    height: fit-content;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 270px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    border-width: 2px;
    box-sizing: border-box;
    background-color: #ebebeb;
    color:rgb(38, 57, 77);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;}

    /*bookdisplay inner body*/
.bookDisplay>*{
    color:rgb(38, 57, 77);
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}
.bookTitle{
    font-weight: bold;
}
.bookCover{
    height: 160px;
    box-sizing: border-box;
}
img{
    height: 100%;
}
.bookPages{
    height: 25px;
}
.bookFooter{
    width: 100%;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookPages, .bookFooter, .bookCover{
    display: flex;
    align-items: center;
}

/*deletebutton*/
.delete{
    margin-right: 20px;
}

.delete:hover{
    color: #b30000;
    cursor: pointer;
}
button.delete{
    border-style: none;
    width: fit-content;
    background-color: transparent;
}
/*readbutton*/
.checkboxContainer{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
input[type=checkbox]{
    display: none;
}
.checkbox + .checkboxLabel{
    color: #b30000;
    cursor: pointer;
}
.checkbox:checked + .checkboxLabel{
    color: green;
    cursor: pointer;
}
/*modal*/
#modalTotal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.3);
}
#myModal{
    width: 500px;
    height: 350px;
    background-color: #000268;
    border-radius: 12px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
}
.modalHeader{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.close{
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 10px;
}
.close:hover, .close:focus{
    color: #b30000;
    cursor: pointer;
}
.modalContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.inputItem{
    font-size: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}
label{
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}
.radioButtons{
width: 100%;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
}
input{
    background-color: white;
    font-size: 15px;
    border-style: none;
    border-radius: 25px;
    padding-left: 10px;
    box-sizing: border-box;
}
.modalFooter{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 25px;
}
button#submit:hover, button#newBook:hover{
    background-color: #bbbbbb;
    cursor: pointer;
}